<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PhoneMapper">
	
	<select id="selectPhones" resultType="Phone">
		SELECT * FROM phone
	</select>
	
	<select id="selectPhonesByPage" resultType="Phone">
		SELECT * FROM phone limit 3 offset #{page}
	</select>
	
	<select id="selectPhonesByManufacture" resultType="Phone">
		SELECT * FROM phone where manufacturer_id = #{manufacturer_id}
	</select>
</mapper>