<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.spring.exam.sys.model.UserInfo" alias="User"/>
		<typeAlias type="com.spring.exam.sys.model.Manufacturer" alias="Manufacturer"/>
		<typeAlias type="com.spring.exam.sys.model.Phone" alias="Phone"/>
	</typeAliases>
	
</configuration>